

.jumbotron {
  margin-bottom: 0 !important;
}


.jumbotron-home {
  background-color: #072b61;
  color: white;
  padding: 120px 0;
}

.jumbotron-home a.btn {
  margin-top: 30px;
}


.jumbotron-about {
  padding: 80px 0;
}

.jumbotron-feature {
  background: white;

}

.jumbotron-feature .row {
  margin-top: 26px;
}

a.btn-minimization {
  background-color: #942653;
  border-color: #942653;
  color: white;
}

a.btn-minimization:hover {
  background-color: #7b1f45;
  border-color: #7b1f45;
  color: white;
}

#table_packages_filter {
  float: none;
}

div.footer {
  background-color: #212529;
  padding-bottom: 60px;
}

div.footer h5 {
  color: white;
}

div.footer div.row {
  margin-bottom: 40px;
}

h1 {
  margin-top: 30px;
}

/* Navigation */

ol.breadcrumb {
  margin-top: 20px;
}

h3.nav-header {
  margin-left: 16px;
  font-size: 1.4rem;
}

div.main-menu {
  background-color: #eee;
  padding-top: 30px;
  padding-bottom: 60px;
}



/*  General table */

table.dataTable thead td,
table.dataTable thead th {
  padding-left: 30px;
}

a.card-link {
  white-space:nowrap!important;
}

/* Grid table */

table.grid-table {
  border: 1px solid #ccc;
  border-radius: 5px;
}

table.grid-table th {
  background-color: #e9ecef;
}

/*  Package lists */


ul.list-packages li {
  color: rgb(68, 68, 68);
  font-family: monospace;
  border-bottom: #6c757d 1px solid;
}

ul.list-packages li:irst-child {
  border-top: #6c757d 1px solid;
}

ul.list-packages li.required-package {
  color: #CC0066;
}


/*  Package tables  */

table.table-packages {
width: 100%;
}

table.table-packages tr.sort_control_row,
table.table-packages tbody {
  font-family: monospace;
}

table.table-packages tr.heading {
  text-align: center;
}

table.table-packages tr {
border-bottom: #6c757d 1px solid;
}

table.table-packages td,
table.table-packages th {
padding-left: 10px;
padding-right: 10px;
}

table.table-packages td {
  white-space: nowrap !important;
}

table.table-packages tr.required,
table.table-packages td.required {
  background-color: #d4e3ea;
  color: #CC0066;
}

table.table-packages tr.env,
table.table-packages td.env {
  background-color: #e3ece1!important;
}

table.table-packages tr.all-pkgs-col,
table.table-packages td.all-pkgs-col {
  background-color: #e9ecef!important;
}

table.table-packages tr.dependency {
  background-color: white!important;
}

table.table-packages tr.unwanted,
table.table-packages td.unwanted {
  background-color: #f1c8c8!important;
}

table.table-packages td.group-first-col,
table.table-packages th.group-first-col {
  border-left: #6c757d 1px solid;
}

table.table-packages thead td,
table.table-packages thead th {
  background-color: #e9ecef;
  padding-left: 30px;
}

table.table-packages tbody tr,
table.table-packages tbody th {
  border-bottom: #6c757d 1px solid;
  border-top: #6c757d 1px solid;
}

#table_packages_filter,
.dataTables_filter {
  padding: 12px 12px 0;
  background-color: #e9ecef;
}

#table_packages_filter input,
.dataTables_filter input {
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height:34px;
}

#table_packages_wrapper,
.dataTables_wrapper {

  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Size chart */

#chLine {
  height: 300px;
}