{% extends "layout.html" %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./configs_views.html">View configs</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{view_conf.name}}</li>
    </ol>
</nav>

<div class="container">
    <h1>
        {{view_conf.name}}
        <small class="text-muted">view configuration</small>
    </h1>

    <hr>

    <div class="card">
        <h5 class="card-header">
            <a href="https://github.com/minimization/feedback-pipeline-config/blob/master/configs/{{view_conf.id}}.yaml" class="btn btn-sm btn-primary float-right">Edit Configuration</a>
            Configuration
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <dl>
                        <dt>Name</dt>
                        <dd>{{view_conf.name}}</dd>

                        <dt>Description</dt>
                        <dd>{{view_conf.description}}</dd>

                        <dt>maintainer</dt>
                        <dd>{{view_conf.maintainer}}</dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt> Type </dt>
                        <dd> {{view_conf.type}} </dd>

                        <dt> Labels </dt>
                        <dd>
                            <ul class="list-unstyled list-packages">
                                {% for label_id in view_conf.labels %}
                                <li>{{label_id}}</li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt> Unwanted Packages <span class="text-muted">(Comments in the config ^^)</span></dt>
                        <dd>
                            <ul class="list-unstyled list-packages">
                                {% for pkg_name in view_conf.unwanted_packages | sort %}
                                <li>{{pkg_name}}</li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <h5 class="card-header"> Results </h5>
        <div class="card-body">
            <table class="table table-striped" id="table_packages">
                <thead>
                    <tr class="sort_control_row">
                        <th>Name</th>
                        <th>Description</th>
                        <th>Workload Status</th>
                    </tr>
                </thead>
                <tbody>
        
                    <tr>
                        <td><a href="view--{{view_conf.id}}.html">{{view_conf.name}}</a></td>
                        <td>{{view_conf.description}}</td>
                        <td>
                            {% if query.view_succeeded(view_conf.id, None) %}
                            <span class="text-success">All Succeeded</span>
                            {% else %}
                            <span class="text-warning">Some Errors</span>
                            {% endif %}
                        </td>
                    </tr>
        
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}