{% extends "layout.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumbotron-home">
    <div class="container">
        <h1 class="display-4">Content Resolver</h1>
        <p class="lead">Reporting and notifications regarding dependencies and sizes of
            Fedora-based workloads.
        </p>
        <a class="btn btn-primary btn-lg" href="./workloads.html" role="button">Explore results</a>
    </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-about">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12">
                <h3>Fedora Minimization Objective</h3>
                <p class="lead">
                    Minimization is a key goal of <a href="https://getfedora.org/">Fedora</a> focusing on installation
                    footprint of popular workloads in the Fedora ecosystem to make them more suitable
                    for modern deployments such as IoT and cloud.
                </p>
                <a class="btn btn-secondary" href="https://docs.fedoraproject.org/en-US/minimization/">Fedora
                    Minimization Docs</a>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-feature">
    <div class="container">

        <h3>Content Resolver Features</h3>
        <div class="row ">
            <div class="col-sm-8">
                <h4>Workload Focus</h4>
                <p>Workloads are groups of packages in a specific environment having a specific <b>purpose</b>. Compared to
                    repositories or packages in general, this specific definition makes it easier to make decisions
                    about their minimization.</p>
            </div>
            <div class="col-sm-4">

            </div>
        </div>

        <div class="row ">
            <div class="col-sm-8">
                <h4>Growth Prevention</h4>
                <p><b>Keeping</b> workloads small is as important as <b>making</b> them small in the first place. Content Resolver
                    monitors workloads and helps maintainers identify sudden growth caused by changes in dependencies,
                    build configurations, etc.</p>
            </div>
            <div class="col-sm-4">

            </div>
        </div>

        <!--div class="row ">
            <div class="col-sm-8">
                <h4>Quick Inspection</h4>
                <p>Content Resolver provides <b>dependency graphs</b> for a quick inspection of dependency trees of workload
                    installations. Clustering and interactive dependency highlights of any single package help
                    discovering.</p>
            </div>
            <div class="col-sm-4">

            </div>
        </div-->
    </div>
</div>



<!--div class="jumbotron jumbotron-fluid jumbotron-about">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12">
                <h3>About Content Resolver</h3>
                <p class="lead">Content Resolver gives a quick overview of the workloads we're targeting to
                    minimise. Showing the
                    <b>required packages</b>, their <b>dependencies</b>, the <b>overall size</b>, and allowing a
                    deeper
                    inspection with <b>interactive dependency graphs</b>.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <h4>Focused on workloads</h4>
                <p>Content Resolver focuses on specific workloads rather than the whole Fedora
                    repositories.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Size</h5>
                        <p class="card-text">Repositories with tens of thousands of packages are too big to digest
                            at
                            once. workloads are smaller and easier to work with.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Choices</h5>
                        <p class="card-text">Repositories represent choices that might be overwhelming and hard to
                            see
                            all at once. workloads are specific, with choices already made.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Clarity</h5>
                        <p class="card-text">Repositories are generic, providing packages to multiple (often
                            conflicting) workloads. So choosing specific workloads makes it clear what is required
                            and
                            what is not.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <p>Focusing on specific workloads, with choices already made, and with a clear distinction of what
                    packages are required and which are just dependencies, Content Resolver makes it easier to spot
                    opportunities for minimisation.</p>
            </div>
        </div>
    </div>

</div-->
{% endblock %}