{% extends "maintainer.html" %}

{% set maintainer_menu_active_overview = "active" %}

{% block maintainer_content %}

{% include "maintainer_menu.html" %}


<h2>This page layout is currently being worked on.  It will look better soon.</h2>

{% for workload_conf_id in query.workloads(None,None,None,None,output_change="workload_conf_ids") %}
{% if query.configs.workloads[workload_conf_id].maintainer == maintainer %}
{% for repo_id in query.configs.workloads[workload_conf_id].labels %}
<b><a class="card-link" href="workload-overview--{{workload_conf_id}}--repo-{{repo_id}}.html">
{{query.configs.workloads[workload_conf_id].name}} - {{repo_id}} </a></b>
<ul>

        {% for package in query.configs.workloads[workload_conf_id].packages %}
        <li><a class="card-link" href="view-rpm--view-{{repo_id}}--{{package}}.html">{{package}}</a></li>
        {% endfor %}

</ul>
{% endfor %}
{% endif %}
{% endfor %}

</div>


{% endblock %}
