{% extends "layout.html" %}

{% block title %} {{maintainer}} · Content Resolver {% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./maintainers.html">Maintainers</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {{maintainer}}
        </li>
    </ol>
</nav>

<div class="container-fluid">
    
    <h1>{{maintainer}} <small class="text-muted">'s space</small></h1>

    <hr>

    {% block maintainer_content %}{% endblock %}

    <br>
    <br>
    <br>

</div>

{% endblock %}
