{% extends "layout.html" %}

{% block content %}

<style>
.in-base td {
    background-color: #e3ece1;
}
thead td, thead th {
    background-color: #bbb;
    text-align: center;
}
</style>

<h1> RPM packages in {{base.name}}
{% if images %}
    {% if images | length > 1 %}
        and {{images | length}} other installations </h1>
    {% else %}
        and {{images[0].name}} </h1>
    {% endif %}
{% else %}
    </h1>
{% endif %}

<hr>

<table>
    <thead>
        <tr>
            <td rowspan="4">All packages in this report</td>
            <td>Base installation</td>
            <td colspan="{{images | length}}">Other installations</td>
        </tr>
        <tr>
            <th>{{base.name}}</th>
            {% for image in images %}
            <th>{{image.name}}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>{{base.size}}</td>
            {% for image in images %}
            <td>{{image.size}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td><a href="./{{base.graph_name}}">graph</a></td>
            {% for image in images %}
            <td><a href="./{{image.graph_name}}">graph</a></td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for pkg in base.packages %}
        <tr class="in-base">
            <td>{{pkg}}</td>
            <td>{{pkg}}</td>
            {% for image in images %}
            {% if pkg in image.pkgs_in_base %}
            <td>{{pkg}}</td>
            {% else %}
            <td> - </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        {% for pkg in extra_pkgs %}
        <tr>
            <td>{{pkg}}</td>
            <td> - </td>
            {% for image in images %}
            {% if pkg in image.packages %}
            <td>{{pkg}}</td>
            {% else %}
            <td> - </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
