{% extends "views_layout.html" %}

{% block view_title %}Bases with use cases{% endblock %}

{% block view_active_bases_with_use_cases %}active{% endblock %}

{% block view_content %}

  <div class="row">
  {% for _,base in data.base_definitions.items() %}
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{base.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
             with relevant use cases on top of it.
          </h6>
        </div>
        <div class="card-footer">
          {% for version in base.versions %}
          <a class="card-link" href="report-by-base--{{base.id}}--{{version}}.html">Fedora {{version}}</a>
          {% endfor %}
        </div>
      </div><br>
    </div>
  {% endfor %}
  </div>

{% endblock %}
