{% extends "layout.html" %}

{% block content %}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./views.html">Views</a></li>
        <li class="breadcrumb-item"><a href="./view--{{view_conf.id}}.html">{{view_conf.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{arch}}</li>
    </ol>
</nav>

<div class="container-fluid">

    <h1>
        {{view_conf.name}}
        <small class="text-muted"> packages for </small>
        <small> {{arch}}</small>
    </h1>

    <p class="lead"><span class="text-muted">Description: </span>{{view_conf.description}}</p>

    <br>



    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="view--{{view_conf.id}}--{{arch}}.html">Packages</a>
        </li>
        <!--li class="nav-item">
            <a class="nav-link" href="view-reasons--{{view_conf.id}}--{{arch}}.html">Packages +
                Reasons of Presence</a>
        </li-->
        <li class="nav-item">
            <a class="nav-link " href="view-modules--{{view_conf.id}}--{{arch}}.html">Modules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="view-unwanted--{{view_conf.id}}--{{arch}}.html">Unwanted
                Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"
                href="view-buildroot--{{view_conf.id}}--{{arch}}.html">Buildroot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="view-workloads--{{view_conf.id}}--{{arch}}.html">
                Workloads
                (
                {% if query.view_succeeded(view_conf.id, arch) %}
                <span class="text-success">All Succeeded</span>
                {% else %}
                <span class="text-warning">Some Errors</span>
                {% endif %}
                )
            </a>
        </li>
    </ul>

    <div id="loading">
        <div>
            <br><br><br><br>
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>

    <br>


    <div class="alert alert-info" role="alert">
        <strong>Data supplied by an external service.</strong> Please note this list might lag up to several hours
        behind other lists.
    </div>








    {% macro pkg_row_css_class(pkg) -%}
    {% if pkg.name in query.view_unwanted_pkgs(view_conf.id, arch) %}
    unwanted
    {% elif pkg.q_required_in and pkg.q_env_in %}
    required
    {% elif pkg.q_required_in %}
    required
    {% elif pkg.q_env_in %}
    env
    {% else %}
    dependency
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    <span>(required, env)</span>
    {% elif pkg.q_required_in %}
    <span>(required)</span>
    {% elif pkg.q_env_in %}
    <span class="text-muted">(env)</span>
    {% else %}
    <span class="text-muted">(dependency)</span>
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why_data_order(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    1
    {% elif pkg.q_required_in %}
    0
    {% elif pkg.q_env_in %}
    2
    {% else %}
    3
    {% endif %}
    {%- endmacro %}


    {% if query.view_buildroot_pkgs(view_conf.id, arch) %}
    <table id="table_packages" class="table-packages">
        <thead>
            <tr class="sort_control_row">
                <th>RPM Name</th>
                <th>Reasons of presence</th>
            </tr>
        </thead>
        <tbody>
            {% for pkg_name, pkg_data in query.view_buildroot_pkgs(view_conf.id, arch).items() | sort %}
            <tr>
                <td><a href="view-rpm--{{view_conf.id}}--{{pkg_name}}.html">{{pkg_name}}</a></td>
                <td>
                    {% if pkg_data.required_by %}
                    Required to build {{ pkg_data.required_by | count }} SRPM(s). 
                    {% endif %}

                    {% if pkg_data.base_buildroot %}
                    It's in the base buildroot.
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    Buildroot not available.
    <br>
    <br>
    {% endif %}



</div>


<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            info: false,
            initComplete: function () {
                var input = $('.dataTables_filter input').unbind(),
                    self = this.api(),
                    $searchButton = $('<button>')
                        .text('search')
                        .click(function () {
                            self.search(input.val()).draw();
                        }),
                    $clearButton = $('<button>')
                        .text('clear')
                        .click(function () {
                            input.val('');
                            $searchButton.click();
                        });
                $(document).keypress(function (event) {
                    if (event.which == 13) {
                        $searchButton.click();
                    }
                });

                $('.dataTables_filter').append($searchButton, $clearButton);
            }
        });

        var loadingDiv = document.getElementById("loading");
        loadingDiv.parentNode.removeChild(loadingDiv);
    });
</script>
{% endblock %}