{% extends "view.html" %}

{% set view_menu_active_overview = "active" %}

{% block view_content %}

{% include "view_menu.html" %}


<div class="row">
    <div class="col-9">

        <div class="card bg-light border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    Package Summary
                </h5>
                <hr>

                <div class="card border-secondary w-100">
                    <div class="card-body">
                        <canvas id="chLine"></canvas>
                    </div>
                </div>
                <hr>

                <div class="card border-secondary">
                    <div class="card-body text-center">

                        <h6>Total</h6>
                        {{ view_all_arches.pkgs_by_nevr | count }} <small>RPMs - Binary Packages</small>
                        <br>
                        {{ view_all_arches.source_pkgs_by_name | count }} <small>SRPMs - Source Packages</small>
                        {% if not view_all_arches.has_buildroot %}
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <span class="badge badge-warning">Environment</span>
                                <br>
                                {{ view_all_arches.numbers.pkgs.env }} <small>RPMs</small>
                                <br>
                                {{ view_all_arches.numbers.srpms.env }} <small>SRPMs</small>
                            </div>
                            <div class="col-4">
                                <span class="badge badge-success">Required</span>
                                <br>
                                {{ view_all_arches.numbers.pkgs.req }} <small>RPMs</small>
                                <br>
                                {{ view_all_arches.numbers.srpms.req }} <small>SRPMs</small>
                            </div>
                            <div class="col-4">
                                <span class="badge badge-secondary">Dependency</span>
                                <br>
                                {{ view_all_arches.numbers.pkgs.dep }} <small>RPMs</small>
                                <br>
                                {{ view_all_arches.numbers.srpms.dep }} <small>SRPMs</small>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% if view_all_arches.has_buildroot %}
                <br>
                <div class="row">
                    <div class="col-6">
                        <div class="card border-secondary">
                            <div class="card-body text-center">
                                <h6>Runtime</h6>
                                {{ view_all_arches.numbers.pkgs.runtime }} <small>RPMs</small>
                                <br>
                                {{ view_all_arches.numbers.srpms.runtime }} <small>SRPMs</small>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        <span class="badge badge-warning">Environment</span>
                                        <br>
                                        {{ view_all_arches.numbers.pkgs.env }} <small>RPMs</small>
                                        <br>
                                        {{ view_all_arches.numbers.srpms.env }} <small>SRPMs</small>
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-success">Required</span>
                                        <br>
                                        {{ view_all_arches.numbers.pkgs.req }} <small>RPMs</small>
                                        <br>
                                        {{ view_all_arches.numbers.srpms.req }} <small>SRPMs</small>
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-secondary">Dependency</span>
                                        <br>
                                        {{ view_all_arches.numbers.pkgs.dep }} <small>RPMs</small>
                                        <br>
                                        {{ view_all_arches.numbers.srpms.dep }} <small>SRPMs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-6">
                        <div class="card border-secondary">
                            <div class="card-body text-center">
                                <h6>Buildroot Only</h6>
                                {{ view_all_arches.numbers.pkgs.build }} <small>RPMs</small>
                                <br>
                                {{ view_all_arches.numbers.srpms.build }} <small>SRPMs</small>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        <span class="badge badge-secondary" style="background-color: #a39e87">Base
                                            Buildroot</span>
                                        <br>
                                        {{ view_all_arches.numbers.pkgs.build_base }} <small>RPMs</small>
                                        <br>
                                        {{ view_all_arches.numbers.srpms.build_base }} <small>SRPMs</small>
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-secondary" style="background-color: #999">Buildroot
                                            level 1</span>
                                        <br>
                                        {{ view_all_arches.numbers.pkgs.build_level_1 }} <small>RPMs</small>
                                        <br>
                                        {{ view_all_arches.numbers.srpms.build_level_1 }} <small>SRPMs</small>
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-secondary" style="background-color: #999">Buildroot
                                            level 2+</span>
                                        <br>
                                        {{ view_all_arches.numbers.pkgs.build_level_2_plus }} <small>RPMs</small>
                                        <br>
                                        {{ view_all_arches.numbers.srpms.build_level_2_plus }} <small>SRPMs</small>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                {% endif %}

                <hr>

                <div>

                    <small>
                        <h6>Legend</h6>
                        <span class="badge badge-warning">Environment</span> - Packages pre-installed in every
                        workload.
                        <br>
                        <span class="badge badge-success">Required</span> - Packages explicitly required in the
                        workloads.
                        <br>
                        <span class="badge badge-secondary">Dependency</span> - Runtime dependencies.
                        {% if view_all_arches.has_buildroot %}
                        <br>
                        <span class="badge badge-secondary" style="background-color: #a39e87">Base Buildroot</span>
                        - Packages always present in the buildroot. Typically the 'build' group.
                        <br>
                        <span class="badge badge-secondary" style="background-color: #999">Buildroot level 1</span>
                        - Packages needed to build all the above.
                        <br>
                        <span class="badge badge-secondary" style="background-color: #999">Buildroot level 2+</span>
                        - Packages needed to build all the above. Basially just build dependencies of build
                        dependencies. There's multiple levels, each only present to build the previous level.
                        {% endif %}
                    </small>
                </div>

            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card bg-light border-secondary">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Repository Info
                    </h5>
                    <hr>
                    <div class="card border-secondary">
                        <div class="card-body">
                            <dl>
                                <dt>Repository</dt>
                                <dd>{{query.configs.repos[view_conf.repository].name}}</dd>
        
                                {% if query.data.repos[view_conf.repository].compose_date %}
                                <dt>Compose Date</dt>
                                <dd>
                                    {{query.data.repos[view_conf.repository].compose_date}}
                                    ({{query.data.repos[view_conf.repository].compose_days_ago}} days ago)
                                </dd>
                                {% endif %}
        
                                <dt>Configuration</dt>
                                <dd><a href="config-view--{{view_conf.id}}.html">{{view_conf.id}}.yaml</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-9">
        <br>

        <div class="card bg-light border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    List Downloads
                </h5>
                <hr>
                <div class="card border-secondary">
                    <table class="table table-sm text-center table-downloads" style="margin-bottom:0">
                        <tbody>



                            <tr>
                                {% if view_all_arches.has_buildroot %}
                                <td rowspan=5 class="align-middle"> All </td>
                                {% endif %}
                                <td rowspan=3 class="align-middle"> RPM </td>
                                <td> Names </td>

                                <td>
                                    <a class="card-link" href="view-all-binary-package-name-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-all-binary-package-name-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td> NEVRs </td>

                                <td>
                                    <a class="card-link" href="view-all-binary-package-nevr-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-all-binary-package-nevr-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td> NEVRAs </td>

                                <td>
                                    <a class="card-link" href="view-all-binary-package-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-all-binary-package-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td rowspan=2 class="align-middle"> SRPM </td>
                                <td> Names </td>

                                <td>
                                    <a class="card-link" href="view-all-source-package-name-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-all-source-package-name-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td> NEVRs </td>

                                <td>
                                    <a class="card-link" href="view-all-source-package-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-all-source-package-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                {% if view_all_arches.has_buildroot %}
                <br>

                <div class="card border-secondary">
                    <table class="table table-sm text-center table-downloads" style="margin-bottom:0">
                        <tbody>

                            <tr>
                                <td rowspan=5 class="align-middle"> Runtime </td>
                                <td rowspan=3 class="align-middle"> RPM </td>
                                <td> Names </td>

                                <td>
                                    <a class="card-link" href="view-binary-package-name-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-binary-package-name-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td> NEVRs </td>

                                <td>
                                    <a class="card-link" href="view-binary-package-nevr-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-binary-package-nevr-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td> NEVRAs </td>

                                <td>
                                    <a class="card-link" href="view-binary-package-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-binary-package-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td rowspan=2 class="align-middle"> SRPM </td>
                                <td> Names </td>

                                <td>
                                    <a class="card-link" href="view-source-package-name-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-source-package-name-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td> NEVRs </td>

                                <td>
                                    <a class="card-link" href="view-source-package-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-source-package-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br>

                <div class="card border-secondary">

                    <table class="table table-sm text-center table-downloads" style="margin-bottom:0">
                        <tbody>


                            <tr>
                                <td rowspan=5 class="align-middle"> Buildroot-only </td>
                                <td rowspan=3 class="align-middle"> RPM </td>
                                <td> Names </td>

                                <td>
                                    <a class="card-link" href="view-buildroot-package-name-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-buildroot-package-name-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td> NEVRs </td>

                                <td>
                                    <a class="card-link" href="view-buildroot-package-nevr-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-buildroot-package-nevr-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td> NEVRAs </td>

                                <td>
                                    <a class="card-link" href="view-buildroot-package-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-buildroot-package-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td rowspan=2 class="align-middle"> SRPM </td>
                                <td> Names </td>

                                <td>
                                    <a class="card-link" href="view-buildroot-source-package-name-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-buildroot-source-package-name-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td> NEVRs </td>

                                <td>
                                    <a class="card-link" href="view-buildroot-source-package-list--{{view_conf.id}}.txt">All Arches</a>
                                    {% for arch in view_conf.architectures %}
                                    <a class="card-link" href="view-buildroot-source-package-list--{{view_conf.id}}--{{arch}}.txt">{{arch}}</a>
                                    {% endfor %}
                                </td>
                            </tr>


                            {% endif %}


                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>
</div>

<script>
    $(document).ready(function () {

        function plot_graph(chartData) {
            var chLine = document.getElementById("chLine");
            if (chLine) {
                new Chart(chLine, {
                    type: 'line',
                    data: chartData,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value, index, values) {
                                        return value + " SRPMs";
                                    }
                                }
                            }]
                        },
                        legend: {
                            display: true
                        },
                        spanGaps: true,
                        maintainAspectRatio: false,
                        elements: {
                            line: {
                                tension: 0
                            }
                        }
                    }
                });
            }
        }

        axios.get(`chartjs-data--view--{{view_conf.id}}.json`)
            .then(response => {
                plot_graph(response.data)
            })
    });
</script>


{% endblock %}