{% extends "view.html" %}

{% set view_menu_active_packages = "active" %}

{% block view_content %}

{% include "view_menu.html" %}



<div id="loading">
    <div>
        <br><br><br><br>
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <br>
            <span>Loading...</span>

        </div>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
    </div>
</div>



<table id="table_packages" class="table-packages">
    <thead>
        <tr>
            <th colspan="3"></th>
            <th colspan="{{view_conf.architectures | count }}" style="border-left: 1px solid black;border-right: 1px solid black">Repository</th>
            <th></th>
        </tr>
        <tr class="sort_control_row">
            <th>Package Name</th>
            <th>Category</th>
            <th>Epoch:Version.Release</th>
            {% for arch in view_conf.architectures %}
            <th>{{arch}}</th>
            {% endfor %}
            <th>Source Package</th>
        </tr>
    </thead>
    <tbody>
        {% for pkg in view_all_arches.pkgs_by_nevr.values() %}
        <tr>
            <td>
                <a href="view-rpm--{{view_conf.id}}--{{pkg.name}}.html">{{pkg.name}}</a>
                {% if pkg.placeholder %}<span class="text-muted">(placeholder)</span>{% endif %}
                {% if pkg.unwanted_completely_in_list_ids %}<span class="text-danger">(unwanted)</span>{% endif %}
            </td>
            <td data-order="{{pkg_why_data_order(pkg)}}">{{pkg_why(pkg)}}</td>
            <td>{{pkg.evr}}</td>
            {% for arch in view_conf.architectures %}
            {% if arch in pkg.arches %}
            {% if pkg.highest_priority_reponames_per_arch[arch] %}
            <td>{{ pkg.highest_priority_reponames_per_arch[arch] | sort | join(", ") }}</td>
            {% else %}
            <td class="text-muted">-</td>
            {% endif %}
            {% else %}
            <td class="text-muted">-</td>
            {% endif %}
            {% endfor %}
            <td>
                <a href="view-srpm--{{view_conf.id}}--{{pkg.source_name}}.html">{{pkg.source_name}}</a>
                {% if pkg.placeholder %}<span class="text-muted">(placeholder)</span>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            info: false,
            order: [[1, "asc"],[0, "asc"]],
            initComplete: function () {
                var input = $('.dataTables_filter input').unbind(),
                    self = this.api(),
                    $searchButton = $('<button>')
                        .text('search')
                        .click(function () {
                            self.search(input.val()).draw();
                        }),
                    $clearButton = $('<button>')
                        .text('clear')
                        .click(function () {
                            input.val('');
                            $searchButton.click();
                        });
                $(document).keypress(function (event) {
                    if (event.which == 13) {
                        $searchButton.click();
                    }
                });

                $('.dataTables_filter').append($searchButton, $clearButton);
            }
        });


        function plot_graph(chartData) {
            var chLine = document.getElementById("chLine");
            if (chLine) {
                new Chart(chLine, {
                    type: 'line',
                    data: chartData,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                        spanGaps: true,
                        maintainAspectRatio: false
                    }
                });
            }
        }

        axios.get('chartjs-data--view--{{view_conf.id}}--{{arch}}.json')
            .then(response => {
                plot_graph(response.data)
            })

        var loadingDiv = document.getElementById("loading");
        loadingDiv.parentNode.removeChild(loadingDiv);
    });
</script>

{% endblock %}