{% extends "layout.html" %}

{% block content %}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./views.html">Views</a></li>
        <li class="breadcrumb-item"><a href="./view--{{view_conf.id}}.html">{{view_conf.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{srpm_name}}</li>
    </ol>
</nav>

<div class="container-fluid">
    
    <br>

    <div class="alert alert-info" role="alert">
        <b>This view is a prototype.</b> It doesn't include build dependencies, and doesn't show all information, yet. But you can already use it to navigate through the dependency tree.
    </div>

    <h1>
        {{srpm_name}}
        <small class="text-muted"> SRPM in </small>
        <small> {{view_conf.name}}</small>
    </h1>

    <br>

    

    <h2> RPMs </h2>

    <table id="table_packages2" class="table-packages">
        <thead>
            <tr>
                <th>Package NEVR</th>
                {% for arch in arches %}
                <th>{{arch}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for pkg_nevr, arch_pkgs in pkgs.items() %}
            <tr>
                <td>{{pkg_nevr}}</td>
                {% for arch, pkgs in arch_pkgs.items()  %}
                {% for pkg_id, pkg in pkgs.items() %}
                <td>{{pkg.id}}</td>
                {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <h2> Dependencies </h2>

    <table id="table_packages" class="table-packages">
        <thead>
            <tr>
                <th colspan="3">What is pulling {{srpm_name}} in</th>
                <th style="border-left: 1px solid black"></th>
                <th style="border-left: 1px solid black"></th>
            </tr>
            <tr class="sort_control_row">
                <th>RPM</th>
                <th>SRPM</th>
                <th>Workloads</th>
                <th style="border-left: 1px solid black">Relation</th>
                <th style="border-left: 1px solid black">RPMs of {{srpm_name}}</th>
            </tr>
        </thead>
        <tbody>
            {% for other_binary_id, other_binary in reasons_of_presense.items() %}
            {% for this_binary in other_binary.requires %}
            <tr>
                <td>{{other_binary_id}}</td>
                <td><a
                        href="view-srpm--{{view_conf.id}}--{{other_binary.source_name}}.html">{{other_binary.source_name}}</a>
                </td>
                <td>
                    <ul>
                        {% for workload_conf_id in other_binary.workload_conf_ids | sort %}
                        <li><a
                                href="workload-overview--{{workload_conf_id}}--{{view_conf.repository}}.html">{{query.configs.workloads[workload_conf_id].name}}</a>({{view_conf.maintainer}})
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td style="border-left: 1px solid black">requires</td>
                <td style="border-left: 1px solid black">{{this_binary}}</td>

            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>



</div>



<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            info: false,
            initComplete: function () {
                var input = $('.dataTables_filter input').unbind(),
                    self = this.api(),
                    $searchButton = $('<button>')
                        .text('search')
                        .click(function () {
                            self.search(input.val()).draw();
                        }),
                    $clearButton = $('<button>')
                        .text('clear')
                        .click(function () {
                            input.val('');
                            $searchButton.click();
                        });
                $(document).keypress(function (event) {
                    if (event.which == 13) {
                        $searchButton.click();
                    }
                });

                $('.dataTables_filter').append($searchButton, $clearButton);
            }
        });


    });
</script>
{% endblock %}