{% extends "layout.html" %}

{% block content %}

<div class="container">
  <br>

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item"><a href="./views.html">Views</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% block view_title %}{% endblock %}</li>
      </ol>
    </nav>
{% endblock %}

<h1> Views </h1>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% block view_active_bases_with_use_cases %}{% endblock %}" href="./view--bases-with-use-cases.html"><b>Bases</b> with use cases</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% block view_active_use_cases_on_bases %}{% endblock %}" href="./view--use-cases-on-bases.html"><b>Use cases</b> on bases</a>
  </li>
{#
  <li class="nav-item">
    <a class="nav-link {% block view_active_use_cases_by_releases %}{% endblock %}" href="./view--use-cases-by-releases.html"><b>Use cases</b> by releases</a>
  </li>
#}
</ul>

<br>

{% block view_content %}
{% endblock %}

</div>
{% endblock %}
