{% extends "view.html" %}

{% set view_sub_page_name = pkg.name + " RPM" %}

{% block title %} {{pkg.name}} · {{view_conf.name}} · Content Resolver {% endblock %}

{% block view_content %}

<a href="view-packages--{{view_conf.id}}.html">⬅ Back to Packages</a>

<h2>
    <small class="text-muted">Binary Package (RPM): </small>
    {{pkg.name}}
    {% if pkg.placeholder %}<span class="text-muted">(placeholder)</span>{% endif %}
    {% if pkg.unwanted_completely_in_list_ids %}<span class="text-danger">(unwanted)</span>{% endif %}
    {{pkg_why(pkg)}}
</h2>

<br>

<div class="card bg-light border-secondary">
    <div class="card-body">

        <div class="row">
            <div class="col-6">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Specific NEVRAs</h5>

                        <div class="card">

                            <table class="table-packages table-packages-muted">

                                <tbody>
                                    {% for srpm_nevr in pkg.nevrs | sort %}
                                    <tr>
                                        <td>
                                            {{srpm_nevr}}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Source Package (SRPM)</h5>
                        <a href="view-srpm--{{view_conf.id}}--{{pkg.source_name}}.html">{{pkg.source_name}}</a>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<br>

{% if pkg.unwanted_completely_in_list_ids %}
<hr>
<br>
<div class="card bg-light border-danger">
    <h4 class="card-header"><span class="text-muted">Why it shouldn't be here - </span>Runtime & Build</h4>
    <div class="card-body">

        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title">Marked as unwanted on {{pkg.unwanted_completely_in_list_ids|count}} lists</h5>

                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for exclusion_list_conf_id in pkg.unwanted_completely_in_list_ids %}
                        <li class="list-group-item">
                            <a href="config-unwanted--{{exclusion_list_conf_id}}.html">
                                {{query.configs.unwanteds[exclusion_list_conf_id].name}}
                            </a>
                            <small>
                                <br>
                                <span class="text-mutdded">by </span>
                                <a
                                    href="maintainer--{{query.configs.unwanteds[exclusion_list_conf_id].maintainer}}.html">{{query.configs.unwanteds[exclusion_list_conf_id].maintainer}}</a>
                            </small>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<br>
{% endif %}

<hr>

<br>
<div class="row">
    <div class="col-8">


        <div class="card bg-light border-secondary">
            <h4 class="card-header"><span class="text-muted">Why it's here - </span>Runtime</h4>
            <div class="card-body">

                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Runtime dependency of {{pkg.hard_dependency_of_pkg_names|count}}
                            RPMs</h5>
                        {% if pkg.hard_dependency_of_pkg_names %}
                        <div class="card">

                            <table class="table-packages table-packages-muted">

                                <tbody>
                                    {% for srpm_name, srpm_nevrs in pkg.hard_dependency_of_pkg_names.items() |
                                    sort(attribute='0')
                                    %}
                                    <tr>
                                        <td>
                                            <a href="view-rpm--{{view_conf.id}}--{{srpm_name}}.html">{{srpm_name}}</a>
                                            {% if view_all_arches["pkgs_by_name"][srpm_name].placeholder %}<span
                                                class="text-muted">(placeholder)</span>{% endif %}
                                            {% if
                                            view_all_arches["pkgs_by_name"][srpm_name].unwanted_completely_in_list_ids
                                            %}<span class="text-danger">(unwanted)</span>{% endif %}
                                        </td>
                                        <td>
                                            {{pkg_why(view_all_arches["pkgs_by_name"][srpm_name])}}
                                        </td>
                                        <td>
                                            {% for srpm_nevr in srpm_nevrs | sort %}
                                            {{srpm_nevr}}<br>
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="card bg-light">
                            <div class="card-body text-muted text-center">
                                No packages...
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <br>

                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Weak runtime dependency of {{pkg.weak_dependency_of_pkg_names|count}}
                            RPMs</h5>
                        {% if pkg.weak_dependency_of_pkg_names %}
                        <div class="card">

                            <table class="table-packages table-packages-muted">

                                <tbody>
                                    {% for srpm_name, srpm_nevrs in pkg.weak_dependency_of_pkg_names.items() |
                                    sort(attribute='0')
                                    %}
                                    <tr>
                                        <td>
                                            <a href="view-rpm--{{view_conf.id}}--{{srpm_name}}.html">{{srpm_name}}</a>
                                            {% if view_all_arches["pkgs_by_name"][srpm_name].placeholder %}<span
                                                class="text-muted">(placeholder)</span>{% endif %}
                                            {% if
                                            view_all_arches["pkgs_by_name"][srpm_name].unwanted_completely_in_list_ids
                                            %}<span class="text-danger">(unwanted)</span>{% endif %}
                                        </td>
                                        <td>
                                            {{pkg_why(view_all_arches["pkgs_by_name"][srpm_name])}}
                                        </td>
                                        <td>
                                            {% for srpm_nevr in srpm_nevrs | sort %}
                                            {{srpm_nevr}}<br>
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="card bg-light">
                            <div class="card-body text-muted text-center">
                                No packages...
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <br>



        <div class="card bg-light border-secondary">
            <h4 class="card-header"><span class="text-muted">Why it's here - </span>Build</h4>
            <div class="card-body">

                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Direct build dependency of
                            {{pkg.in_buildroot_of_srpm_name_req|count}} SRPMs</h5>
                        <p class="card-text text-muted">Direct build dependencies are packages directly
                            build-required by the following SRPMs.</p>
                        {% if pkg.in_buildroot_of_srpm_name_req %}
                        <div class="card">

                            <table class="table-packages table-packages-muted">

                                <tbody>
                                    {% for srpm_name, srpm_nevrs in pkg.in_buildroot_of_srpm_name_req.items() |
                                    sort(attribute='0')
                                    %}
                                    <tr>
                                        <td>
                                            <a href="view-srpm--{{view_conf.id}}--{{srpm_name}}.html">{{srpm_name}}</a>
                                            {% if view_all_arches["source_pkgs_by_name"][srpm_name].placeholder %}<span
                                                class="text-muted">(placeholder)</span>{% endif %}
                                            {% if
                                            view_all_arches["source_pkgs_by_name"][srpm_name].unwanted_completely_in_list_ids
                                            %}<span class="text-danger">(unwanted)</span>{% endif %}
                                        </td>
                                        <td>
                                            {{pkg_why(view_all_arches["source_pkgs_by_name"][srpm_name])}}
                                        </td>
                                        <td>
                                            {% for srpm_nevr in srpm_nevrs | sort %}
                                            {{srpm_nevr}}.src<br>
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="card bg-light">
                            <div class="card-body text-muted text-center">
                                No packages...
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <br>

                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Indirect build dependency of
                            {{pkg.in_buildroot_of_srpm_name_dep|count}} SRPMs</h5>
                        <p class="card-text text-muted">Indirect build dependencies are runtime dependencies in
                            buildroots of the follwing SRPMs. See the runtime dependencies section above for more
                            info.</p>
                        {% if pkg.in_buildroot_of_srpm_name_dep %}
                        <div class="card">
                            <table class="table-packages table-packages-muted">
                                <tbody>
                                    {% for srpm_name, srpm_nevrs in pkg.in_buildroot_of_srpm_name_dep.items() |
                                    sort(attribute='0')
                                    %}
                                    <tr>
                                        <td>
                                            <a href="view-srpm--{{view_conf.id}}--{{srpm_name}}.html">{{srpm_name}}</a>
                                            {% if view_all_arches["source_pkgs_by_name"][srpm_name].placeholder %}<span
                                                class="text-muted">(placeholder)</span>{% endif %}
                                            {% if
                                            view_all_arches["source_pkgs_by_name"][srpm_name].unwanted_completely_in_list_ids
                                            %}<span class="text-danger">(unwanted)</span>{% endif %}
                                        </td>
                                        <td>
                                            {{pkg_why(view_all_arches["source_pkgs_by_name"][srpm_name])}}
                                        </td>
                                        <td>
                                            {% for srpm_nevr in srpm_nevrs | sort %}
                                            {{srpm_nevr}}.src<br>
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="card bg-light">
                            <div class="card-body text-muted text-center">
                                No packages...
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-4">

        <div class="card bg-light border-secondary">
            <h4 class="card-header"><span class="text-muted">Why it's here - </span>Workloads</h4>
            <div class="card-body">

                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Required in {{pkg.in_workload_conf_ids_req|count}} workloads</h5>
                        {% if pkg.in_workload_conf_ids_req %}
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                {% for workload_conf_id in pkg.in_workload_conf_ids_req %}
                                <li class="list-group-item">
                                    <a href="workload-overview--{{workload_conf_id}}--{{view_conf.repository}}.html">
                                        {{query.configs.workloads[workload_conf_id].name}}
                                    </a>
                                    <small>
                                        <br>
                                        <span class="text-mutdded">by </span>
                                        <a
                                            href="maintainer--{{query.configs.workloads[workload_conf_id].maintainer}}.html">{{query.configs.workloads[workload_conf_id].maintainer}}</a>
                                    </small>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% else %}
                        <div class="card bg-light">
                            <div class="card-body text-muted text-center">
                                No workloads...
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <br>

                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Dependency in {{pkg.in_workload_conf_ids_dep|count}} workloads</h5>
                        {% if pkg.in_workload_conf_ids_dep %}
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                {% for workload_conf_id in pkg.in_workload_conf_ids_dep %}
                                <li class="list-group-item">
                                    <a href="workload-overview--{{workload_conf_id}}--{{view_conf.repository}}.html">
                                        {{query.configs.workloads[workload_conf_id].name}}
                                    </a>
                                    <small>
                                        <br>
                                        <span class="text-mutdded">by </span>
                                        <a
                                            href="maintainer--{{query.configs.workloads[workload_conf_id].maintainer}}.html">{{query.configs.workloads[workload_conf_id].maintainer}}</a>
                                    </small>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% else %}
                        <div class="card bg-light">
                            <div class="card-body text-muted text-center">
                                No workloads...
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>

<br>


{% endblock %}