{% extends "view_bases.html" %}

{% block breadcrumb_title %}Compare Releases{% endblock %}

{% block active_view_bases_compare_releases %}active{% endblock %}

{% block view_content %}

<div class="row">
  {% for base in data.base_definitions %}
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{base.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          compared on multiple Fedora releases
        </h6>
      </div>
      <div class="card-footer">
        <a class="card-link" href="report-base-releases--{{base.id}}.html">All releases</a>
      </div>
    </div><br>
  </div>
  {% endfor %}
</div>

{% endblock %}