{% extends "view.html" %}

{% set view_sub_page_name = srpm.name + " SRPM (Component)" %}

{% block title %} {{srpm.name}} · {{view_conf.name}} · Content Resolver {% endblock %}

{% block view_content %}

<a href="view-sources--{{view_conf.id}}.html">⬅ Back to Source Packages</a>

<h2>
    <small class="text-muted">Source Package (SRPM): </small>
    {{srpm.name}}
    {% if srpm.placeholder %}<span class="text-muted">(placeholder)</span>{% endif %}
    {% if srpm.unwanted_completely_in_list_ids %}<span class="text-danger">(unwanted)</span>{% endif %}
    {{pkg_why(srpm)}}
</h2>

<br>

{% if view_all_arches.has_buildroot %}
{% if not srpm.buildroot_succeeded %}
<div class="card border-danger">
    <h5 class="card-header bg-danger text-white">Buildroot resolution failed</h5>
    <div class="card-body">
        {% for arch, errors in srpm.errors.items() %}
        {{arch}}:
        <div class="card bg-light">
            <div class="card-body">
                <pre class="pre-scrollable">
                        {{errors.message}}
                    </pre>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

<br>
{% endif %}
{% endif %}


<div class="card bg-light border-secondary">
    <div class="card-body">

        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title">Binary RPMs</h5>



                    <ul class="list-unstyled">
                        {% for pkg_name in srpm.pkg_names | sort %}
                        <li>
                            <a href="view-rpm--{{view_conf.id}}--{{pkg_name}}.html">{{pkg_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>

            </div>
        </div>

    </div>
</div>

<br>


{% if srpm.unwanted_completely_in_list_ids %}
<hr>
<br>
<div class="card bg-light border-danger">
    <h4 class="card-header"><span class="text-muted">Why it shouldn't be here - </span>Runtime & Build</h4>
    <div class="card-body">

        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title">Marked as unwanted on {{srpm.unwanted_completely_in_list_ids|count}} lists</h5>

                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for exclusion_list_conf_id in srpm.unwanted_completely_in_list_ids %}
                        <li class="list-group-item">
                            <a href="config-unwanted--{{exclusion_list_conf_id}}.html">
                                {{query.configs.unwanteds[exclusion_list_conf_id].name}}
                            </a>
                            <small>
                                <br>
                                <span class="text-mutdded">by </span>
                                <a
                                    href="maintainer--{{query.configs.unwanteds[exclusion_list_conf_id].maintainer}}.html">{{query.configs.unwanteds[exclusion_list_conf_id].maintainer}}</a>
                            </small>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<br>
{% endif %}

<div class="row">
    <div class="col-4">
        <div class="card bg-light border-secondary">
            <h4 class="card-header"><span class="text-muted">Maintainer Recommendation - </span>Summary</h4>
            <div class="card-body">

                <div class="card border-secondary">
                    <div class="card-body">
                        TBD
                        <br>
                        Meanwhile, please see details to the right.
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-8">
        <div class="card bg-light border-secondary">
            <h4 class="card-header"><span class="text-muted">Maintainer Recommendation - </span>Details</h4>
            <div class="card-body">

                <div class="card border-secondary">
                    <div class="card-body">
                        {% for level, sublevels in srpm.maintainer_recommendation_details.items() %}
                        <h5 class="card-title">Level {{level}}</h5>
                        {% if level == "0" %}
                        <p>Includes <span class="badge badge-success">Required</span> and <span class="badge badge-secondary">Dependency</span>.</p>
                        {% else %}
                        <p>Includes <span class="badge badge-secondary" style="background-color: #999">Buildroot level {{level}}</span> which are direct build dependencies of the previous level, along with their own runtime dependencies.</p>
                        {% endif %}
                        <table class="table-packages table-packages-muted" id="table_packages_{{level}}">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Maintainer</th>
                                    <th>Reason</th>
                                    <th>{% if level == "0" %} Workload {% else %} Buildroot of {% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sublevel, maintainers in sublevels.items() %}
                                {% for maintainer, maintainer_details in maintainers.items() %}
                                <tr>
                                    <td><small class="text-muted">{{level}}.{{sublevel}}</small></td>
                                    <td>{{maintainer}}</td>
                                    <td>
                                        {% if sublevel == "0" %}
                                        {% if level == "0" %} Explicitly required {% else %} Direct build dependency {% endif %}
                                        {% else %}
                                        {% for reason in maintainer_details.reasons %}
                                        <a href="view-rpm--{{view_conf.id}}--{{reason[0]}}.html">{{reason[0]}}</a> (<small>SRPM:</small> <a href="view-srpm--{{view_conf.id}}--{{reason[1]}}.html">{{reason[1]}}</a>) requires <a href="view-rpm--{{view_conf.id}}--{{reason[2]}}.html">{{reason[2]}}</a><br>
                                        {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for location in maintainer_details.locations %}
                                        {% if level == "0" %}
                                        <a href="workload-overview--{{location}}--{{view_conf.repository}}.html">{{query.configs.workloads[location].name}}</a><br>
                                        {% else %}
                                        <a href="view-srpm--{{view_conf.id}}--{{location}}.html">{{location}}</a><br>
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% for level, sublevels in srpm.maintainer_recommendation_details.items() %}
<script>
    $(document).ready(function () {
        $('#table_packages_{{level}}').DataTable({
            paging: false,
            info: false,
            order: [[0, "asc"]],
            initComplete: function () {
                var input = $('.dataTables_filter input').unbind(),
                    self = this.api(),
                    $searchButton = $('<button>')
                        .text('search')
                        .click(function () {
                            self.search(input.val()).draw();
                        }),
                    $clearButton = $('<button>')
                        .text('clear')
                        .click(function () {
                            input.val('');
                            $searchButton.click();
                        });
                $(document).keypress(function (event) {
                    if (event.which == 13) {
                        $searchButton.click();
                    }
                });

                $('.dataTables_filter').append($searchButton, $clearButton);
            }
        });
    });
</script>
{% endfor %}

{% endblock %}