<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link {{view_menu_active_overview}}" href="view--{{view_conf.id}}.html">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{view_menu_active_packages}}" href="view-packages--{{view_conf.id}}.html">Packages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{view_menu_active_sources}}" href="view-sources--{{view_conf.id}}.html">Source Packages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{view_menu_active_unwanted}}" href="view-unwanted--{{view_conf.id}}.html">Unwanted Packages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{view_menu_active_workloads}}" href="view-workloads--{{view_conf.id}}.html">Workloads</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{view_menu_active_errors}}" href="view-errors--{{view_conf.id}}.html">
            Error Log
            {% if view_all_arches.everything_succeeded %}
            {% if view_all_arches.no_warnings %}
            <span class="text-success badge badge-light">All Good</span>
            {% else %}
            <span class="text-warning badge badge-light">Warnings</span>
            {% endif %}
            {% else %}
            <span class="text-danger badge badge-light">Errors</span>
            {% endif %}
        </a>
    </li>
</ul>

<!--hr>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% if not arch %}active{% endif %}" href="">all arches</a>
        </li>
        {% for menu_arch in view_conf.architectures %}
        <li class="nav-item">
            <a class="nav-link {% if arch == menu_arch %}active{% endif %}" href="">{{menu_arch}}</a>
        </li>
        {% endfor %}
    </ul-->

<hr>
