{% extends "layout.html" %}

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./results.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Results</li>
        </ol>
    </nav>

    <h1> Results </h1>

    <hr>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " href="workloads.html">Workloads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="envs.html">Environments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="views.html">User-defined views</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="labels.html">Labels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="repos.html">Repositories</a>
        </li>
    </ul>

    <br>

    <table class="table table-striped" id="table_packages">
        <thead>
            <tr class="sort_control_row">
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            {% for view_conf_id, view_conf in query.configs.views.items() %}
            <tr>
                <td><a href="view--{{view_conf_id}}.html">{{view_conf.name}}</a></td>
                <td>{{view_conf.description}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            info: false
        });
    });
</script>
{% endblock %}