{% extends "layout.html" %}

{% block content %}


<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./results.html">Home</a></li>
            <li class="breadcrumb-item"><a href="./results.html">Results</a></li>
            <li class="breadcrumb-item"><a href="./views.html">Views</a></li>
            <li class="breadcrumb-item"><a href="./view--{{view_conf.id}}.html">{{view_conf.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{arch}}</li>
        </ol>
    </nav>

    <br>

    <h1>
        {{view_conf.name}}
        <small class="text-muted"> packages for </small>
        <small> {{arch}}</small>
    </h1>

    <div class="dropdown show float-right">

        <div class="btn-group">
            {% if maintainer %}
            <a href="view-reasons--{{view_conf.id}}--{{arch}}.html" class="btn btn-sm  btn-secondary"> clear </a>
            <a class="btn btn-sm btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Filter by maintainer: <b>{{maintainer}}</b>
            </a>
            {% else %}
            <a class="btn btn-sm  btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Filter by maintainer</b>
            </a>
            {% endif %}

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                {% for maint in query.view_maintainers(view_conf.id, arch) | sort %}
                <a class="dropdown-item" href="view-reasons--{{view_conf.id}}--{{arch}}--maintainer-{{maint}}.html">{{maint}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <p class="lead"><span class="text-muted">Description: </span>{{view_conf.description}}</p>
    <br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " href="view--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="view-reasons--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">Packages + Reasons of Presence</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="view-unwanted--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">Unwanted Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="view-workloads--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">
                Workloads
                (
                {% if query.view_succeeded(view_conf.id, arch, maintainer=maintainer) %}
                <span class="text-success">All Succeeded</span>
                {% else %}
                <span class="text-warning">Some Errors</span>
                {% endif %}
                )
            </a>
        </li>
    </ul>

    <div id="loading">
        <div>
            <br><br><br><br>
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>


    <br>

    {% macro relations(pkg, dep=True) -%}
    {% if pkg.q_required_in %}
    Required in these workloads:
    <ul>
        {% for workload_id in pkg.q_required_in | sort %}
        <li>
            <a href="workload-overview--{{query.data.workloads[workload_id].workload_conf_id}}--{{view_conf.repository}}.html">
                {{ query.configs.workloads[query.data.workloads[workload_id].workload_conf_id].name }}
            </a>
            (maintainer: {{ query.configs.workloads[query.data.workloads[workload_id].workload_conf_id].maintainer }})
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if pkg.q_dep_in and dep %}
    Dependency in these workloads:
    <ul>
        {% for workload_id in pkg.q_dep_in | sort %}
        <li>
            <a href="workload--{{query.url_slug_id(workload_id)}}.html">
                {{ query.configs.workloads[query.data.workloads[workload_id].workload_conf_id].name }}
                in
                {{ query.configs.envs[query.data.workloads[workload_id].env_conf_id].name}}
            </a>
            (maintainer: {{ query.configs.workloads[query.data.workloads[workload_id].workload_conf_id].maintainer }})
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {%- endmacro %}

    {% macro pkg_row_css_class(pkg) -%}
    {% if pkg.name in query.view_unwanted_pkgs(view_conf.id, arch) %}
    unwanted
    {% elif pkg.q_required_in and pkg.q_env_in %}
    required
    {% elif pkg.q_required_in %}
    required
    {% elif pkg.q_env_in %}
    env
    {% else %}
    dependency
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    <span>(required, env)</span>
    {% elif pkg.q_required_in %}
    <span>(required)</span>
    {% elif pkg.q_env_in %}
    <span class="text-muted">(env)</span>
    {% else %}
    <span class="text-muted">(dependency)</span>
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why_data_order(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    1
    {% elif pkg.q_required_in %}
    0
    {% elif pkg.q_env_in %}
    2
    {% else %}
    3
    {% endif %}
    {%- endmacro %}

    <table id="table_packages" class="table-packages">
        <thead>
            <tr class="sort_control_row">
                <th>Flag</th>
                <th>Name</th>
                <th>Epoch:Version-Release</th>
                <th>Arch</th>
                <th>Size</th>
                <th>Reasons of Presence</th>
                <th>Source Name</th>
            </tr>
        </thead>
        <tbody>
            {% for pkg in query.pkgs_in_view(view_conf.id, arch, maintainer=maintainer) %}
            <tr class="{{pkg_row_css_class(pkg)}}">
                <td data-order="{{pkg_why_data_order(pkg)}}" style="padding-top: 16px; padding-bottom: 16px">{{pkg_why(pkg)}}</td>
                <td>
                    {{pkg.name}}
                    {% if pkg.name in query.view_unwanted_pkgs(view_conf.id, arch) %}
                    <span class="text-danger">(unwanted)</span>
                    {% endif %}
                </td>
                <td>{{pkg.evr}}</td>
                <td>{{pkg.arch}}</td>
                <td data-order="{{pkg.installsize}}">{{ query.size(pkg.installsize) }}</td>
                <td> {{ relations(pkg) }}</td>
                <td>{{pkg.source_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {

        $('#table_packages').DataTable({
            paging: false,
            info: false
        });

        var loadingDiv = document.getElementById("loading");
        loadingDiv.parentNode.removeChild(loadingDiv);
    });
</script>
{% endblock %}