{% extends "view_use_cases.html" %}

{% block breadcrumb_title %}Definitions{% endblock %}

{% block active_view_use_cases_definitions %}active{% endblock %}

{% block view_content %}


<div class="row">
    {% for use_case in data.use_case_definitions %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{use_case.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    use case definition
                </h6>
            </div>
            <div class="card-footer">
                <a class="card-link" href="./report-use-case-definition--{{use_case.id}}.html">Definition</a>

            </div>
        </div><br>
    </div>

    {% endfor %}
</div>
{% endblock %}