{% extends "view.html" %}

{% set view_menu_active_overview = "active" %}

{% block view_content %}

{% include "view_menu.html" %}


<div class="card bg-light border-secondary">
    <div class="card-body">

        <div class="row">
            <div class="col-6">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">{{ view_all_arches.pkgs_by_nevr | count }} Binary Packages (RPMs)</h5>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <h6>{{ view_all_arches.numbers.pkgs.runtime }} Runtime RPMs</h6>

                                <span class="badge badge-warning">{{ view_all_arches.numbers.pkgs.env }} <small>Environment</small></span> <br>
                                <span class="badge badge-success">{{ view_all_arches.numbers.pkgs.req }} <small>Required</small></span> <br>
                                <span class="badge badge-secondary">{{ view_all_arches.numbers.pkgs.dep }} <small>Dependency</small></span> <br>
                            </div>
                            <div class="col-6">
                                <h6>{{ view_all_arches.numbers.pkgs.build }} Buildroot-only RPMs</h6>

                                <span class="badge badge-secondary" style="background-color: #a39e87">{{ view_all_arches.numbers.pkgs.build_base }} <small>Base Buildroot</small></span> <br>
                                <span class="badge badge-secondary" style="background-color: #999">{{ view_all_arches.numbers.pkgs.build_level_1 }} <small>Buildroot level 1</small></span> <br>
                                <span class="badge badge-secondary" style="background-color: #999">{{ view_all_arches.numbers.pkgs.build_level_2_plus }} <small>Buildroot level 2+</small></span> <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">{{ view_all_arches.source_pkgs_by_name | count }} Source Packages (SRPMs)</h5>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <h6>{{ view_all_arches.numbers.srpms.runtime }} Runtime SRPMs</h6>

                                <span class="badge badge-warning">{{ view_all_arches.numbers.srpms.env }} <small>Environment</small></span> <br>
                                <span class="badge badge-success">{{ view_all_arches.numbers.srpms.req }} <small>Required</small></span> <br>
                                <span class="badge badge-secondary">{{ view_all_arches.numbers.srpms.dep }} <small>Dependency</small></span> <br>
                            </div>
                            <div class="col-6">
                                <h6>{{ view_all_arches.numbers.srpms.build }} Buildroot-only SRPMs</h6>

                                <span class="badge badge-secondary" style="background-color: #a39e87">{{ view_all_arches.numbers.srpms.build_base }} <small>Base Buildroot</small></span> <br>
                                <span class="badge badge-secondary" style="background-color: #999">{{ view_all_arches.numbers.srpms.build_level_1 }} <small>Buildroot level 1</small></span> <br>
                                <span class="badge badge-secondary" style="background-color: #999">{{ view_all_arches.numbers.srpms.build_level_2_plus }} <small>Buildroot level 2+</small></span> <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}