{% extends "layout.html" %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./views.html">Views</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{view_conf.name}}</li>
    </ol>
</nav>


<div class="container-fluid">


    <h1>
        {{view_conf.name}}
        <small class="text-muted"> overview</small>
    </h1>
    <p class="lead"><span class="text-muted">Description: </span>{{view_conf.description}}</p>

    <br>

    {% if query.data.repos[view_conf.repository].compose_days_ago >= 2 %}
    <div class="alert alert-warning" role="alert">
        The compose is {{query.data.repos[view_conf.repository].compose_days_ago}} days old, and you are seeing data from that time. 
    </div>
    {% endif %}

    <div class="row">

        <div class="col-sm-9">

            <!--div class="row">
                <div class="col-sm-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <span style="font-size:2rem;font-weight:300;">{{all_pkg_count}}</span>
                            <a href="">
                                <br>
                                <strong>Binary Packages</strong>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <span style="font-size:2rem;font-weight:300;">{{ all_source_nvr_count}}</span>
                            <a href="">
                                <br>
                                <strong>Source Packages</strong>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <span style="font-size:2rem;font-weight:300;">
                                {{ all_unwanted_count }}
                                <span class="text-muted">
                                    of {{ query.view_unwanted_pkgs(view_conf.id, None) | count }}
                                </span>
                            </span>
                            <a href="">
                                <br>
                                <strong>Unwanted Packages</strong>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <span style="font-size:2rem;font-weight:300;">
                                {% if query.view_succeeded(view_conf.id, None) %}
                                <span class="text-success">All Succeeded</span>
                                {% else %}
                                <span class="text-warning">Some Errors</span>
                                {% endif %}
                            </span>
                            <a href="">
                                <br>
                                <strong>Workload Status</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <h2> Architecture-specific pages </h2-->
            <table class="table table-striped" id="table_packages">
                <thead>
                    <tr class="sort_control_row">
                        <th>Architecture</th>
                        <th>Binary Packages</th>
                        <th>Source Packages</th>
                        <th>Unwanted Packages</th>
                        <th>Workload Status</th>
                    </tr>
                </thead>
                <tbody>

                    {% for arch, pkg_counts in arch_pkg_counts.items() %}
                    {% if arch in query.arches_in_view(view_conf.id) %}
                    <tr>
                        <td><a href="view--{{view_conf.id}}--{{arch}}.html">{{arch}}</a></td>
                        <td> {{ pkg_counts.pkg_ids }}</td>
                        <td> {{ pkg_counts.source_pkg_names }} </td>
                        <td>
                            {{ pkg_counts.unwanted_packages }}
                            <span class="text-muted">
                                of
                                {{ query.view_unwanted_pkgs(view_conf.id, arch) | count }}
                            </span>
                            (<a href="view-unwanted--{{view_conf.id}}--{{arch}}.html">list</a>)
                        </td>
                        <td>
                            {% if query.view_succeeded(view_conf.id, arch) %}
                            <span class="text-success">All Succeeded</span>
                            {% else %}
                            <span class="text-warning">Some Errors</span>
                            {% endif %}
                            (<a href="view-workloads--{{view_conf.id}}--{{arch}}.html">list</a>)
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="text-muted">{{arch}} (excluded)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">

                    <dl>
                        <dt>Repository</dt>
                        <dd>{{query.configs.repos[view_conf.repository].name}}</dd>

                        {% if query.data.repos[view_conf.repository].compose_date %}
                        <dt>Compose Date</dt>
                        <dd>
                            {{query.data.repos[view_conf.repository].compose_date}}
                            ({{query.data.repos[view_conf.repository].compose_days_ago}} days ago)
                        </dd>
                        {% endif %}

                        <dt>Configuration</dt>
                        <dd><a href="config-view--{{view_conf.id}}.html">{{view_conf.id}}.yaml</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            filter: false,
            info: false
        });
    });
</script>
{% endblock %}