{% extends "layout.html" %}

{% block content %}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./views.html">Views</a></li>
        <li class="breadcrumb-item"><a href="./view--{{view_conf.id}}.html">{{view_conf.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{srpm_name}} SRPM (Component)</li>
    </ol>
</nav>

<div class="container-fluid">

    <h1>
        {{srpm_name}} SRPM (Component)
        <small class="text-muted"> in </small>
        <small>{{view_conf.name}}</small>
    </h1>

    <br>

    {% if query.data.repos[view_conf.repository].compose_days_ago >= 2 %}
    <div class="alert alert-warning" role="alert">
        The compose is {{query.data.repos[view_conf.repository].compose_days_ago}} days old, and you are seeing data from that time. 
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <h5 class="card-header">Included RPMs</h5>
                <ul class="list-group list-group-flush">
                    {% for pkg_name in pkg_names | sort %}
                    <li class="list-group-item">
                        <a href="view-rpm--{{view_conf.id}}--{{pkg_name}}.html">{{pkg_name}}</a>
                        <small>
                        {% if pkg_name in pkg_name_data %}
                        {% if pkg_name_data[pkg_name].exclusion_list_ids or pkg_name_data[pkg_name].unwanted_in_view %}
                        <span class="badge badge-danger">Unwanted</span>
                        {% endif %}
                        {% if pkg_name_data[pkg_name].workload_conf_ids_required %}
                        <span class="badge badge-success">Required</span>
                        {% endif %}
                        {% if pkg_name_data[pkg_name].workload_conf_ids_env %}
                        <span class="badge badge-success">Environment</span>
                        {% endif %}
                        {% if pkg_name_data[pkg_name].workload_conf_ids_dependency %}
                        <span class="badge badge-secondary">Dependency</span>
                        {% endif %}
                        {% if pkg_name_data[pkg_name].build_dependency %}
                        <span class="badge badge-secondary" style="background-color: #999">Build Dependency</span>
                        {% endif %}
                        {% endif %}
                        </small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header">Maintainer Recommendation</h5>
                <div class="card-body">
                    {% if recommended_maintainers["top"] %}
                    
                    <strong>{{recommended_maintainers["top"]}}</strong>

                    {% else %}

                    <strong class="text-muted">UNCLEAR</strong>
                    <br>
                    <br>

                    {% if recommended_maintainers["all"] %}
                    Multiple options:
                    <ul>
                    {% for maintainer, score in recommended_maintainers["all"].items() %}
                    <li>{{maintainer}}  ({{score}} RPMs)</li>
                    {% endfor %}
                    </ul>
                    
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="card">
                <h5 class="card-header">Recommendation Details</h5>
                <div class="card-body">
                    {% if ownership_recommendations %}
                    {% for level_name, level_data in ownership_recommendations["ownership"].items() %}
                    {% if level_name == "level0" %}
                    <h4>Directly required:</h4>
                    {% elif level_name == "level1" %}
                    <br>
                    <h4>Runtime dependency group:</h4>
                    {% elif level_name == "level10" %}
                    <br>
                    <h4>Direct build dependency group:</h4>
                    {% elif level_name in ["level20","level30","level40","level50","level60","level70","level80","level90"] %}
                    <br>
                    <h4>Build dependency of a build dependency group:</h4>
                    {% else %}
                    {% endif %}
                    <h5>
                        {% if level_name == "level0" %}

                        {% elif level_name == "level1" %}
                        {{level_name}} <small class="text-muted">(direct runtime dep)</small>

                        {% elif level_name in ["level10","level20","level30","level40","level50","level60","level70","level80","level90"] %}
                        {{level_name}} <small class="text-muted">(build dep of previous group)</small>

                        {% else %}
                        {{level_name}} <small class="text-muted">(runtime dep of previous level)</small>
                        {% endif %}
                    </h5>
                        {% for maintainer, maintainer_data in level_data.items() %}
                            <span>{{maintainer}}</span>
                            <br>


                            {% if "workloads" in maintainer_data %}
                            <small>{{maintainer_data.pkg_count}} requirement(s):</small>
                            <br>
                            {% for workload_pkg_name in maintainer_data.pkg_names %}
                                <small class="text-muted">
                                    {% if level_name != "level0" %}
                                    <a href ="view-rpm--{{view_conf.id}}--{{workload_pkg_name[0]}}.html">{{workload_pkg_name[0]}}</a>
                                    <span class="text-muted">requires</span>
                                    {% endif %}
                                    <a href ="view-rpm--{{view_conf.id}}--{{workload_pkg_name[1]}}.html">{{workload_pkg_name[1]}}</a>
                                </small>
                                <br>
                            {% endfor %}
                            <small>In {{maintainer_data.workloads | count }} workload(s):</small>
                            <br>
                            {% for workload_conf_id, workload_pkg_names in maintainer_data.workloads.items() %}
                                <small class="text-muted">
                                    <a href="workload-overview--{{workload_conf_id}}--{{view_conf.repository}}.html">{{query.configs.workloads[workload_conf_id].name}}</a>
                                </small>
                                <br>
                            {% endfor %}


                            {% elif "build_source_names" in maintainer_data %}
                            <small>{{maintainer_data.pkg_count}} RPM(s) <span class="text-muted">total needed to build:</span></small>
                            <br>
                            {% for build_srpm_name, pkg_ids in maintainer_data.build_source_names.items() %}
                            <small class="text-muted">
                                <a href="view-srpm--{{view_conf.id}}--{{build_srpm_name}}.html">SRPM: {{build_srpm_name}}</a>
                            </small>
                            <br>
                            {% endfor %}
                            {% endif %}


                            <br>
                        {% else %}
                            <span class="text-muted">No one.</span>
                            <br>
                            <br>
                        {% endfor %}
                    {% endfor %}
                    {% else %}
                    Not available.
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>



    <br>
</div>


{% endblock %}

                    