{% extends "view_use_cases.html" %}

{% block breadcrumb_title %}Compare Use Cases by Base{% endblock %}

{% block active_view_use_cases_use_cases_by_base %}active{% endblock %}

{% block view_content %}

  <div class="row">
  {% for base in data.base_definitions %}
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{base.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            multiple use cases on this base
          </h6>
        </div>
        <div class="card-footer">
          {% for version in base.versions |sort %}
          <a class="card-link" href="report-by-base--{{base.id}}--{{version}}.html">Fedora {{version}}</a>
          {% endfor %}
        </div>
      </div><br>
    </div>
  {% endfor %}
  </div>

{% endblock %}
