{% extends "layout.html" %}

{% block content %}


<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./views.html">Views</a></li>
            <li class="breadcrumb-item"><a href="./view--{{view_conf.id}}.html">{{view_conf.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{arch}}</li>
        </ol>
    </nav>

    <h1>
        {{view_conf.name}}
        <small class="text-muted"> packages for </small>
        <small> {{arch}}</small>
    </h1>

    <div class="dropdown show float-right">

        <div class="btn-group">
            {% if maintainer %}
            <a href="view--{{view_conf.id}}--{{arch}}.html" class="btn btn-sm  btn-secondary"> clear </a>
            <a class="btn btn-sm btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by maintainer: <b>{{maintainer}}</b>
            </a>
            {% else %}
            <a class="btn btn-sm  btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by maintainer</b>
            </a>
            {% endif %}

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                {% for maint in query.view_maintainers(view_conf.id, arch) | sort %}
                <a class="dropdown-item"
                    href="view--{{view_conf.id}}--{{arch}}--maintainer-{{maint}}.html">{{maint}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <p class="lead"><span class="text-muted">Description: </span>{{view_conf.description}}</p>

    <br>



    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="view--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="view-reasons--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">Packages +
                Reasons of Presence</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="view-modules--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">Modules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="view-unwanted--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">Unwanted
                Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="view-buildroot--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">Buildroot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="view-workloads--{{view_conf.id}}--{{arch}}{{maintainer_url_part}}.html">
                Workloads
                (
                {% if query.view_succeeded(view_conf.id, arch, maintainer=maintainer) %}
                <span class="text-success">All Succeeded</span>
                {% else %}
                <span class="text-warning">Some Errors</span>
                {% endif %}
                )
            </a>
        </li>
    </ul>

    <div id="loading">
        <div>
            <br><br><br><br>
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-9 d-flex align-items-stretch">
            <div class="card w-100">
                <h5 class="card-header"> Package Count History </h5>
                <div class="card-body text-center">
                    {% if maintainer %}
                    <br>
                    <span class="text-muted">History graph is not available in combination with filters.</span>
                    <br>
                    {% else %}
                    <canvas id="chLine"></canvas>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card w-100">
                <h5 class="card-header"> Relations </h5>
                <div class="card-body">
                    <dl>
                        <dt>Configuration</dt>
                        <dd><a href="config-view--{{view_conf.id}}.html">{{view_conf.id}}.yaml</a></dd>
                    </dl>
                    <hr>
                    <dl>
                        <dt>Flat list downloads</dt>
                        <dd>
                            {% if maintainer %}
                            <span class="text-muted">Not available in combination with filters.</span>
                            {% else %}
                            <ul>
                                <li><a href="view-binary-package-list--{{view_conf.id}}--{{arch}}.txt">Binary
                                        packages</a></li>
                                <li><a href="view-binary-package-name-list--{{view_conf.id}}--{{arch}}.txt">Binary
                                        package names</a></li>
                                <li><a href="view-source-package-list--{{view_conf.id}}--{{arch}}.txt">Source
                                        packages</a></li>
                                <li><a href="view-source-package-name-list--{{view_conf.id}}--{{arch}}.txt">Source
                                        package names</a></li>
                                <li><a href="view-buildroot-package-name-list--{{view_conf.id}}--{{arch}}.txt">Buildroot
                                        binary
                                        package names</a></li>
                                <li><a href="view-buildroot-source-package-name-list--{{view_conf.id}}--{{arch}}.txt">Buildroot
                                        source
                                        package names</a></li>
                                <li><a href="view-module-list--{{view_conf.id}}--{{arch}}.txt">Modules</a></li>
                            </ul>
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>




    <br>

    {% macro pkg_row_css_class(pkg) -%}
    {% if pkg.name in query.view_unwanted_pkgs(view_conf.id, arch) %}
    unwanted
    {% elif pkg.q_required_in and pkg.q_env_in %}
    required
    {% elif pkg.q_required_in %}
    required
    {% elif pkg.q_env_in %}
    env
    {% else %}
    dependency
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    <span>(required, env)</span>
    {% elif pkg.q_required_in %}
    <span>(required)</span>
    {% elif pkg.q_env_in %}
    <span class="text-muted">(env)</span>
    {% else %}
    <span class="text-muted">(dependency)</span>
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why_data_order(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    1
    {% elif pkg.q_required_in %}
    0
    {% elif pkg.q_env_in %}
    2
    {% else %}
    3
    {% endif %}
    {%- endmacro %}

    <table id="table_packages" class="table-packages">
        <thead>
            <tr class="sort_control_row">
                <th>Why</th>
                <th>Name</th>
                <th>Epoch:Version-Release</th>
                <th>Arch</th>
                <th>Source Name</th>
                <th>Summary</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            {% for pkg in query.pkgs_in_view(view_conf.id, arch, maintainer=maintainer) %}
            <tr class="{{pkg_row_css_class(pkg)}}">
                <td data-order="{{pkg_why_data_order(pkg)}}">{{pkg_why(pkg)}}</td>
                <td>
                    {{pkg.name}}
                    {% if pkg.name in query.view_unwanted_pkgs(view_conf.id, arch) %}
                    <span class="text-danger">(unwanted)</span>
                    {% endif %}
                </td>
                <td>{{pkg.evr}}</td>
                <td>{{pkg.arch}}</td>
                <td> <a href="view-srpm--{{view_conf.id}}--{{pkg.source_name}}.html">{{pkg.source_name}}</a></td>
                <td> {{ pkg.summary }}</td>
                <td data-order="{{pkg.installsize}}">{{ query.size(pkg.installsize) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            info: false,
            initComplete: function () {
                var input = $('.dataTables_filter input').unbind(),
                    self = this.api(),
                    $searchButton = $('<button>')
                        .text('search')
                        .click(function () {
                            self.search(input.val()).draw();
                        }),
                    $clearButton = $('<button>')
                        .text('clear')
                        .click(function () {
                            input.val('');
                            $searchButton.click();
                        });
                $(document).keypress(function (event) {
                    if (event.which == 13) {
                        $searchButton.click();
                    }
                });

                $('.dataTables_filter').append($searchButton, $clearButton);
            }
        });


        function plot_graph(chartData) {
            var chLine = document.getElementById("chLine");
            if (chLine) {
                new Chart(chLine, {
                    type: 'line',
                    data: chartData,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                        spanGaps: true,
                        maintainAspectRatio: false
                    }
                });
            }
        }

        axios.get('chartjs-data--view--{{view_conf.id}}--{{arch}}.json')
            .then(response => {
                plot_graph(response.data)
            })

        var loadingDiv = document.getElementById("loading");
        loadingDiv.parentNode.removeChild(loadingDiv);
    });
</script>
{% endblock %}