{% extends "layout.html" %}

{% block content %}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./views.html">Views</a></li>
        <li class="breadcrumb-item"><a href="./view--{{view_conf.id}}.html">{{view_conf.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{srpm_name}} SRPM (Component)</li>
    </ol>
</nav>

<div class="container-fluid">

    <h1>
        {{srpm_name}} SRPM (Component)
        <small class="text-muted"> in </small>
        <small>{{view_conf.name}}</small>
    </h1>

    <br>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <h5 class="card-header">Included RPMs</h5>
                <ul class="list-group list-group-flush">
                    {% for pkg_name in pkg_names | sort %}
                    <li class="list-group-item">
                        <a href="view-rpm--{{view_conf.id}}--{{pkg_name}}.html">{{pkg_name}}</a>
                        <small>
                        {% if pkg_name_data[pkg_name].unwanted_in_view %}
                        <span class="badge badge-danger">Unwanted CONFIRMED</span>
                        {% elif pkg_name_data[pkg_name].exclusion_list_ids or pkg_name_data[pkg_name].unwanted_in_view %}
                        <span class="badge badge-danger">Unwanted proposal</span>
                        {% endif %}
                        {% if pkg_name_data[pkg_name].workload_conf_ids_required %}
                        <span class="badge badge-success">Required</span>
                        {% endif %}
                        {% if pkg_name_data[pkg_name].workload_conf_ids_dependency %}
                        <span class="badge badge-secondary">Dependency</span>
                        {% endif %}
                        {% if pkg_name_data[pkg_name].build_dependency %}
                        <span class="badge badge-secondary" style="background-color: #999">Build Dependency</span>
                        {% endif %}
                        </small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header">Maintainer Recommendation</h5>
                <div class="card-body">
                    {% if ownership_recommendations %}
                    {% for level_name, level_data in ownership_recommendations["ownership"].items() %}
                    <h5>
                        {% if level_name == "level0" %}
                        Required by:
                        {% elif level_name == "level1" %}
                        Direct ({{level_name}}) dependency:
                        {% else %}
                        {{level_name}} dependency:
                        {% endif %}
                    </h5>
                    {% for maintainer, maintainer_data in level_data.items() %}
                    <span>{{maintainer}}</span>
                    <br>
                    <small>{{maintainer_data.pkg_count}} RPM(s) <span class="text-muted">total in:</span></small>
                    <br>
                    {% for workload_conf_id, pkg_ids in maintainer_data.workloads.items() %}
                    <small class="text-muted">
                        <a href="workload-overview--{{workload_conf_id}}--{{view_conf.repository}}.html">{{query.configs.workloads[workload_conf_id].name}}</a>
                    </small>
                    <br>
                    {% endfor %}
                    <br>
                    {% else %}
                    <span class="text-muted">No one.</span>
                    <br>
                    <br>
                    {% endfor %}
                    {% endfor %}
                    {% else %}
                    Not available for buildroot-only packages yet.
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>



    <br>
</div>


{% endblock %}