{% extends "layout.html" %}

{% block content %}


<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./workloads.html">Workloads</a></li>
            <li class="breadcrumb-item">
                <a
                    href="{{'./workload-overview--{workload_conf_id}--{repo_id}.html'.format(workload_conf_id=workload_conf.id, repo_id=repo.id)}}">
                    {{workload_conf.name}}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{workload_conf.name}} in {{env_conf.name}} from {{repo.name}} {{workload.arch}}
            </li>
        </ol>
    </nav>


    <h1>
        {{workload_conf.name}} <small class="text-muted"> workload</small>
        <br>
        <small class="text-muted"> in </small>
        <small> {{env_conf.name}} </small>
        <small class="text-muted"> from </small>
        <small> {{repo.name}}</small>
        <small class="text-muted"> for </small>
        <small> {{workload.arch}}</small>
    </h1>

    <hr>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="workload--{{ query.url_slug_id(workload_id) }}.html">Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="workload-dependencies--{{ query.url_slug_id(workload_id) }}.html">Reasons of
                Presence</a>
        </li>
    </ul>


    <br>

    {% if not query.workload_succeeded(workload_conf.id,env_conf.id,repo.id,workload.arch) %}

    {% if not workload.env_succeeded %}

    <div class="card border-danger">
        <h5 class="card-header bg-danger text-white">Skipped for environment errors</h5>
        <div class="card-body">
            The analysis of this workload has been skipped because of errors in the environment.

            <br>

            Details: <a href="env--{{env_conf.id}}--{{repo.id}}--{{workload.arch}}.html">{{env_conf.name}}</a>

        </div>
    </div>

    {% else %}

    <div class="card border-danger">
        <h5 class="card-header bg-danger text-white">Analysis errors</h5>
        <div class="card-body">
            <pre class="pre-scrollable">
                {{ workload.errors.message }}
            </pre>
        </div>
    </div>

    {% endif %}
    <br>
    {% endif %}

    <div class="row">
        <div class="col-sm-9 d-flex align-items-stretch">
            <div class="card w-100">
                <h5 class="card-header"> Size History </h5>
                <div class="card-body">
                    <canvas id="chLine"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card w-100">
                <h5 class="card-header"> Additional info </h5>
                <div class="card-body">
                    {% if workload_conf.modules_disable %}
                    <dt> Disabled modules </dt>
                    <dd>
                        <ul class="list-unstyled list-packages">
                            {% for module_stream in workload_conf.modules_disable | sort %}
                            <li>{{module_stream}}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                    {% endif %}
                    {% if query.data.workloads[workload_id].enabled_modules %}
                    <dt> Enabled modules </dt>
                    <dd>
                        <ul class="list-unstyled list-packages">
                            {% for module_stream in query.data.workloads[workload_id].enabled_modules | sort %}
                            <li>{{module_stream}}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                    {% endif %}
                    <dl>
                        <dt>Configuration</dt>
                        <dd><a href="config-workload--{{workload_conf.id}}.html">{{workload_conf.id}}.yaml</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    {% macro pkg_row_css_class(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    required
    {% elif pkg.q_required_in %}
    required
    {% elif pkg.q_env_in %}
    env
    {% else %}
    dependency
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    <span>(required, env)</span>
    {% elif pkg.q_required_in %}
    <span>(required)</span>
    {% elif pkg.q_env_in %}
    <span class="text-muted">(env)</span>
    {% else %}
    <span class="text-muted">(dependency)</span>
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why_data_order(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    1
    {% elif pkg.q_required_in %}
    0
    {% elif pkg.q_env_in %}
    2
    {% else %}
    3
    {% endif %}
    {%- endmacro %}

    <table id="table_packages" class="table-packages">
        <thead>
            <tr class="sort_control_row">
                <th>Why</th>
                <th>Name</th>
                <th>Epoch:Version-Release</th>
                <th>Arch</th>
                <th>Size</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            {% for pkg in query.workload_pkgs_id(workload_id) %}
            <tr class="{{pkg_row_css_class(pkg)}}">
                <td data-order="{{pkg_why_data_order(pkg)}}">{{pkg_why(pkg)}}</td>
                <td>
                    {{pkg.name}}
                </td>
                <td>{{pkg.evr}}</td>
                <td>{{pkg.arch}}</td>
                <td data-order="{{pkg.installsize}}">{{ query.size(pkg.installsize) }}</td>
                <td>{{pkg.summary}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            info: false,
            initComplete: function () {
                var input = $('.dataTables_filter input').unbind(),
                    self = this.api(),
                    $searchButton = $('<button>')
                        .text('search')
                        .click(function () {
                            self.search(input.val()).draw();
                        }),
                    $clearButton = $('<button>')
                        .text('clear')
                        .click(function () {
                            input.val('');
                            $searchButton.click();
                        });
                $(document).keypress(function (event) {
                    if (event.which == 13) {
                        $searchButton.click();
                    }
                });

                $('.dataTables_filter').append($searchButton, $clearButton);
            }
        });

        function plot_graph(chartData) {
            var chLine = document.getElementById("chLine");
            if (chLine) {
                new Chart(chLine, {
                    type: 'line',
                    data: chartData,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value, index, values) {
                                        return value + " MB";
                                    }
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                        spanGaps: true,
                        maintainAspectRatio: false
                    }
                });
            }
        }

        axios.get(`chartjs-data--workload--{{workload_conf.id}}--{{env_conf.id}}--{{repo.id}}--{{workload.arch}}.json`)
            .then(response => {
                plot_graph(response.data)
            })
    });
</script>
{% endblock %}