{% extends "layout.html" %}

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item"><a href="./results.html">Results</a></li>
            <li class="breadcrumb-item"><a href="./workloads.html">Workloads</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{query.configs.workloads[workload_conf_id].name}}</li>
        </ol>
    </nav>

    <h1> 
        {{query.configs.workloads[workload_conf_id].name}} <small class="text-muted">workload</small>
        <br>
        <small class="text-muted">from</small>
        <small><a href="">{{query.configs.repos[repo_id].name}}</a></small>
    </h1>

    <hr>

    <p class="lead"> {{query.configs.workloads[workload_conf_id].description}} </p>

    <div class="card">
        <div class="card-header">
            <h5 class=""> Results overview</h5>
            <ul class="nav nav-tabs card-header-tabs">
                {% for loop_repo_id in query.workloads(workload_conf_id,None,None,None,output_change="repo_ids") %}
                <li class="nav-item">
                    {% if repo_id == loop_repo_id %}
                    <a class="nav-link active" href="#">{{query.configs.repos[loop_repo_id].name}}</a>
                    {% else %}
                    <a class="nav-link" href="#">{{query.configs.repos[loop_repo_id].name}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        

        <span class="card-body">
            Resolved in
            {{query.workloads(workload_conf_id,None,repo_id,None,output_change="env_conf_ids") | count }}
            environments accross
            {{query.workloads(workload_conf_id,None,repo_id,None,output_change="arches") | count}}
            architectures
        </span>

        <table class="card-body table table-bordered" style="text-align: center">
            <thead>
                <tr class="sort_control_row">
                    <th></th>
                    {% for arch in query.workloads(workload_conf_id,None,repo_id,None,output_change="arches") %}
                    <th>{{arch}}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for env_conf_id in query.workloads(workload_conf_id,None,repo_id,None,output_change="env_conf_ids") %}
                <tr>
                    <td class="align-middle">
                        <span class="text-muted">from</span> <a href="">{{query.configs.repos[repo_id].name}}</a>
                        <br>
                        <b><span class="text-muted">in</span> <a href="">{{query.configs.envs[env_conf_id].name}}</a></b>
                    </td>
                    {% for arch in query.workloads(workload_conf_id,None,repo_id,None,output_change="arches") %}

                    {% if arch in query.workloads(workload_conf_id,env_conf_id,repo_id,None,output_change="arches") %}

                    <td class="align-middle">
                        
                        <p>
                        ?? packages
                        <br>
                        ?? MB
                        </p>
                        <b><a href="">Details</a></b>
                    </td>
                    {% else %}
                    <td class="align-middle text-muted"> (none) </td>
                    {% endif %}
                    {% endfor %}
                    <td class="align-middle">
                        <a href="">Compare all<br>architectures</a>
                        <p>({{query.configs.envs[env_conf_id].name}})</p>
                    </td>
                </tr>
                {% endfor %}


                <tr>
                    <th></th>
                    {% for arch in query.workloads(workload_conf_id,None,repo_id,None,output_change="arches") %}
                    <td>
                        <a href="">Compare all<br>environments</a>
                        <p>{{arch}}</p>
                    </td>
                    {% endfor %}
                    <td></td>
                </tr>


            </tbody>
        </table>
    </div>

</div>
{% endblock %}