{% extends "layout.html" %}

{% block content %}


<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./results.html">Home</a></li>
            <li class="breadcrumb-item"><a href="./workloads.html">Results</a></li>
            <li class="breadcrumb-item"><a href="./workloads.html">Workloads</a></li>
            <li class="breadcrumb-item">
                <a
                    href="{{'./workload-overview--{workload_conf_id}--{repo_id}.html'.format(workload_conf_id=workload_conf.id, repo_id=repo_id)}}">
                    {{workload_conf.name}}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{workload_conf.name}} from {{repo.name}} for {{arch}}
            </li>
        </ol>
    </nav>


    <h1>
        {{workload_conf.name}} <small class="text-muted"> workload</small>
        <br>
        <small class="text-muted"> from </small>
        <small> <a href="">{{repo.name}}</a> </small>
        <small class="text-muted"> for </small>
        <small> {{arch}} </small>
    </h1>

    <hr>

    <div class="row">
        <div class="col-sm-9 d-flex align-items-stretch">
            <div class="card w-100">
                <h5 class="card-header"> Size History </h5>
                <div class="card-body">
                    <br>
                    <br>
                    <p class="lead text-muted"> TBD</p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card w-100">
                <h5 class="card-header"> Relations </h5>
                <div class="card-body">
                    <br>
                    <br>
                    <p class="lead text-muted"> TBD</p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <br>

    <table id="table_packages" class="table-packages">
        <thead>
            <tr class="heading">
                <th></th>
                {% for env_conf_id in columns.keys() %}
                <th class="group-first-col" colspan=3>{{env_conf_id}}</th>
                {% endfor %}
            </tr>
            <tr class="sort_control_row">
                <th>Name</th>
                {% for env_conf_id in columns.keys() %}
                <th class="group-first-col">Why</th>
                <th>Name</th>
                <th>Size</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for pkg_name in rows %}
            <tr>
                <td class="all-pkgs-col">{{pkg_name}}</td>
                {% for env_conf_id in columns.keys() %}
                {% if pkg_name in columns[env_conf_id] %}

                {% if query.workload_id_string(workload_conf_id,env_conf_id,repo_id,columns[env_conf_id][pkg_name].q_arch) in columns[env_conf_id][pkg_name].q_required_in 
                                            and query.workload_id_string(workload_conf_id,env_conf_id,repo_id,columns[env_conf_id][pkg_name].q_arch) in columns[env_conf_id][pkg_name].q_env_in %}
                <td class="required group-first-col" data-order="1">(required, env)</td>
                <td class="required">{{columns[env_conf_id][pkg_name].name}}</td>
                <td class="required">{{query.size(columns[env_conf_id][pkg_name].installsize)}}</td>
                {% elif query.workload_id_string(workload_conf_id,env_conf_id,repo_id,columns[env_conf_id][pkg_name].q_arch) in columns[env_conf_id][pkg_name].q_required_in %}
                <td class="required group-first-col" data-order="0">(required)</td>
                <td class="required">{{columns[env_conf_id][pkg_name].name}}</td>
                <td class="required">{{query.size(columns[env_conf_id][pkg_name].installsize)}}</td>
                {% elif query.workload_id_string(workload_conf_id,env_conf_id,repo_id,columns[env_conf_id][pkg_name].q_arch) in columns[env_conf_id][pkg_name].q_env_in %}
                <td class="env group-first-col" data-order="2">(env)</td>
                <td class="env">{{columns[env_conf_id][pkg_name].name}}</td>
                <td class="env">{{query.size(columns[env_conf_id][pkg_name].installsize)}}</td>
                {% else %}
                <td class="dependency group-first-col" data-order="3"></td>
                <td class="dependency">{{columns[env_conf_id][pkg_name].name}}</td>
                <td class="dependency">{{query.size(columns[env_conf_id][pkg_name].installsize)}}</td>
                {% endif %}

                {% else %}
                <td class="group-first-col" data-order="4"> </td>
                <td> - </td>
                <td> </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            info: false
        });
    });
</script>
{% endblock %}