{% extends "layout.html" %}

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./results.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Results</li>
        </ol>
    </nav>

    <h1> Results </h1>

    <hr>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="workloads.html">Workloads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="envs.html">Environments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="repos.html">Repositories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="views.html">Views</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="labels.html">Labels</a>
        </li>
    </ul>

    <br>

    <table class="table table-striped" id="table_packages">
        <thead>
            <tr class="sort_control_row">
                <th>Name</th>
                <th>Results</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for workload_conf_id in query.workloads(None,None,None,None,output_change="workload_conf_ids") %}
            <tr>
                <td>{{query.configs.workloads[workload_conf_id].name}}</td>
                <td>
                    {% for repo_id in query.workloads(workload_conf_id,None,None,None,output_change="repo_ids") %}
                    <a class="card-link" href="workload-overview--{{workload_conf_id}}--{{repo_id}}.html">
                        {{query.configs.repos[repo_id].name}}
                        {% if not query.workload_succeeded(workload_conf_id,None,repo_id,None) %}
                        (<span class="text-danger">Errors</span>)
                        {% endif %}
                    </a>
                    {% endfor %}
                </td>
                <td>
                    {% if query.workload_succeeded(workload_conf_id,None,repo_id,None) %}
                    <span class="text-success">Success</span>
                    {% else %}
                    <span class="text-danger">Errors</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            filter: false,
            info: false
        });
    });
</script>
{% endblock %}