{% extends "layout.html" %}

{% block content %}


<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./workloads.html">Workloads</a></li>
            <li class="breadcrumb-item">
                <a
                    href="{{'./workload-overview--{workload_conf_id}--{repo_id}.html'.format(workload_conf_id=workload_conf.id, repo_id=repo.id)}}">
                    {{workload_conf.name}}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{workload_conf.name}} in {{env_conf.name}} from {{repo.name}} {{workload.arch}}
            </li>
        </ol>
    </nav>


    <h1>
        {{workload_conf.name}} <small class="text-muted"> workload</small>
        <br>
        <small class="text-muted"> in </small>
        <small> {{env_conf.name}} </small>
        <small class="text-muted"> from </small>
        <small> {{repo.name}}</small>
        <small class="text-muted"> for </small>
        <small> {{workload.arch}}</small>
    </h1>

    <hr>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " href="workload--{{ query.url_slug_id(workload_id) }}.html">Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="workload-dependencies--{{ query.url_slug_id(workload_id) }}.html">Reasons of Presence</a>
        </li>
    </ul>


    <br>

    {% if not query.workload_succeeded(workload_conf.id,env_conf.id,repo.id,workload.arch) %}

    <div class="card border-danger">
        <h5 class="card-header bg-danger text-white">Analysis errors</h5>
        <div class="card-body">
            <pre class="pre-scrollable">
                {{ workload.errors.message }}
            </pre>
        </div>
    </div>
    <br>
    {% endif %}

    {% macro relations(pkg, dep=True) -%}

    {% if workload.pkg_relations[pkg.id].required_by %}
    Required by:
    <ul>
    {% for related_pkg_id in workload.pkg_relations[pkg.id].required_by %}
    <li>{{related_pkg_id}}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if workload.pkg_relations[pkg.id].recommended_by %}
    Recommended by:
    <ul>
    {% for related_pkg_id in workload.pkg_relations[pkg.id].recommended_by %}
    <li>{{related_pkg_id}}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if workload.pkg_relations[pkg.id].suggested_by %}
    Suggested by:
    <ul>
    {% for related_pkg_id in workload.pkg_relations[pkg.id].suggested_by %}
    <li>{{related_pkg_id}}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {%- endmacro %}

    {% macro pkg_row_css_class(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    required
    {% elif pkg.q_required_in %}
    required
    {% elif pkg.q_env_in %}
    env
    {% else %}
    dependency
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    <span>(required, env)</span>
    {% elif pkg.q_required_in %}
    <span>(required)</span>
    {% elif pkg.q_env_in %}
    <span class="text-muted">(env)</span>
    {% else %}
    <span class="text-muted">(dependency)</span>
    {% endif %}
    {%- endmacro %}

    {% macro pkg_why_data_order(pkg) -%}
    {% if pkg.q_required_in and pkg.q_env_in %}
    1
    {% elif pkg.q_required_in %}
    0
    {% elif pkg.q_env_in %}
    2
    {% else %}
    3
    {% endif %}
    {%- endmacro %}

    <table id="table_packages" class="table-packages">
        <thead>
            <tr class="sort_control_row">
                <th>Why</th>
                <th>Name</th>
                <th>Epoch:Version-Release</th>
                <th>Arch</th>
                <th>Size</th>
                <th>Reasons of Presence</th>
            </tr>
        </thead>
        <tbody>
            {% for pkg in query.workload_pkgs_id(workload_id) %}
            <tr class="{{pkg_row_css_class(pkg)}}">
                <td data-order="{{pkg_why_data_order(pkg)}}" style="padding-top: 16px; padding-bottom: 16px">{{pkg_why(pkg)}}</td>
                <td>
                    {{pkg.name}}
                </td>
                <td>{{pkg.evr}}</td>
                <td>{{pkg.arch}}</td>
                <td data-order="{{pkg.installsize}}">{{ query.size(pkg.installsize) }}</td>
                <td>{{ relations(pkg) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#table_packages').DataTable({
            paging: false,
            info: false,
            initComplete: function () {
                var input = $('.dataTables_filter input').unbind(),
                    self = this.api(),
                    $searchButton = $('<button>')
                        .text('search')
                        .click(function () {
                            self.search(input.val()).draw();
                        }),
                    $clearButton = $('<button>')
                        .text('clear')
                        .click(function () {
                            input.val('');
                            $searchButton.click();
                        });
                $(document).keypress(function (event) {
                    if (event.which == 13) {
                        $searchButton.click();
                    }
                });

                $('.dataTables_filter').append($searchButton, $clearButton);
            }
        });

        function plot_graph(chartData) {
            var chLine = document.getElementById("chLine");
            if (chLine) {
                new Chart(chLine, {
                    type: 'line',
                    data: chartData,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value, index, values) {
                                        return value + " MB";
                                    }
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                        spanGaps: true,
                        maintainAspectRatio: false
                    }
                });
            }
        }

        axios.get(`chartjs-data--workload--{{workload_conf.id}}--{{env_conf.id}}--{{repo.id}}--{{workload.arch}}.json`)
            .then(response => {
                plot_graph(response.data)
            })
    });
</script>
{% endblock %}